.intl-tel-input {
    width: 100%;
}

.enquiry_list {
    float:left;
    width:100%;
    background: #fff;
}

.enquiry_list ul {
    float: left;
    width: 100%;
    padding: 15px 0;
    margin: 0;
}

.enquiry_list ul.listing-head {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px 0;
    background: #219261;
}

.enquiry_list ul.listing-head li {
    color: #fff;
}

.enquiry_list ul:nth-child(2n) {
    background: #cccccc26;
}

.enquiry_list ul li {
    float: left;
    width: 110px;
    padding: 0px 5px;
    list-style: none;
    text-align: center;
}